---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="404 Not Found">
  <div class="grid h-[calc(100vh-319px)] place-items-center content-center text-center">
    <h2 class="text-4xl">404 Not Found.</h2>
    <p class="mt-4">
      Visit the
      <a href="/" class="link">homepage</a>.
    </p>
  </div>
</PageLayout>
