---
import { getEntry } from 'astro:content';
const { data } = await getEntry('social', 'social');
---

<style>
  svg {
    @apply h-5 w-5 transition-colors duration-200 hover:fill-blue-300;
  }
</style>

<div class="flex items-center justify-center space-x-3.5">
  <a href={data.googleScholar} target="_blank" rel="noreferrer noopener">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <title>Google Scholar</title>
      <path
        d="M5.242 13.769L0 9.5 12 0l12 9.5-5.242 4.269C17.548 11.249 14.978 9.5 12 9.5c-2.977 0-5.548 1.748-6.758 4.269zM12 10a7 7 0 1 0 0 14 7 7 0 0 0 0-14z"
      ></path>
    </svg>
  </a>
  <a href={data.orcid} target="_blank" rel="noreferrer noopener">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <title>ORCID</title>
      <path
        d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm.055 3.545c2.604 0 4.72 2.113 4.72 4.716a4.716 4.716 0 01-4.72 4.72 4.716 4.716 0 01-4.72-4.72c0-2.604 2.113-4.716 4.72-4.716zm-2.507 7.165h.95v3.684h-2.953V6.05h3.016v.95h-1.972v3.71zm3.202 0h1.095l1.645 3.684h-1.123l-.346-.802h-1.634l-.32.802h-1.1l1.645-3.684zm.23 2.14h.996l-.498-1.33-.498 1.33z"
      ></path>
    </svg>
  </a>
  <a href={"mailto:" + data.email}>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
      <title>Email</title>
      <path
        d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280 320-200v-80L480-520 160-720v80l320 200Z"
      ></path>
    </svg>
  </a>
  <!-- Twitter and GitHub links removed but kept as comments in case needed later -->
  <!--
  <a href={data.twitter} target="_blank" rel="noreferrer noopener">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <title>X</title>
      <path
        d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z"
      ></path>
    </svg>
  </a>
  <a href={data.github} target="_blank" rel="noreferrer noopener">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <title>GitHub</title>
      <path
        d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
      ></path>
    </svg>
  </a>
  -->
</div>
